.pawn {
  color: red;
}

.square {
  background: #fff;
  float: left;
  height: 5vh;
  text-align: center;
  width: 5vh;
  border: solid 1px #aaa;
  border-radius: 50%;
  margin: 0.5vh;
  padding: 2px;
}

.piece {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}

.clicked {
  background: blue;
  /* color: blue; */
}
